<div class="row align-items-center flex-row container-fluid p-4 contact-banner justify-content-center">
    <div class="col-12 col-xl-5 p-2">
        <p>Laat voor samenwerking je contactgegevens hier achter en we nemen zo snel mogelijk contact met u op!</p>
    </div>
    <div class="col-12 col-xl-2 p-2">
        <input type="text" id="name" class="form-control" placeholder="Naam" aria-label="naam" aria-required="true">
    </div>
    <div class="col-12 col-xl-2 p-2">
        <input type="email" id="email" class="form-control" placeholder="Email" aria-label="E-mail" aria-required="true">
    </div>
    <div class="col-12 col-xl-2 p-2">
        <button type="submit" class="btn" onclick="window.location.href='contact.html'">Neem contact op</button>
    </div>
</div>