<section class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center p-4 border-bottom">
    <!-- Left copyright -->
    <div class="mb-3 mb-lg-0 text-center text-lg-start">
        <span>© 2024 CareBots</span>
    </div>
    <!-- Left -->

    <!-- Right social media -->
    <div class="d-flex flex-row align-items-center">
        <a href="https://www.whatsapp.com/" target="_blank" class="px-2 text-reset text-decoration-none mb-3 mb-lg-0" aria-label="link naar onze whatsapp">
            <img src="assets/images/whatsapp.png" height="25">
        </a>
        <a href="https://www.linkedin.com/" target="_blank" class="px-2 text-reset text-decoration-none mb-3 mb-lg-0" aria-label="link naar onze linkedin pagina">
            <img src="assets/images/linkedin.png" height="25">
        </a>
        <a href="https://www.facebook.com/" target="_blank" class="px-2 text-reset text-decoration-none mb-3 mb-lg-0" aria-label="link naar onze facebook pagina">
            <img src="assets/images/facebook.png" height="25">
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="px-2 text-reset text-decoration-none mb-3 mb-lg-0" aria-label="link naar onze instagram pagina">
            <img src="assets/images/instagram.png" height="25">
        </a>
    </div>
    <!-- Right -->
</section>