    <nav class="navbar navbar-expand-lg px-lg-5" aria-label="Main navigation">
      <div class="container-fluid">
        <!-- navbar logo -->
        <a class="navbar-brand" href="/">
          <img src="assets/images/logo.png" aria-label="Carebots logo" id="logo" class="ms-4" alt="Carebots logo" width="80px" height="80px">
        </a>
        <!-- mobile off canvas menu button -->
        <button class="navbar-toggler d-lg-none me-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- offcanvas menu (alleen te zien op kleine schermen) -->
        <div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Carebots</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link navbar-links-offcanvas-style" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-links-offcanvas-style" href="product.html">Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-links-offcanvas-style" href="over-ons.html">Over ons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-links-offcanvas-style" href="faq.html">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navbar-links-offcanvas-style" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
  
        <!-- normale navbar (alleen te zien op grote schermen) -->
        <div class="collapse navbar-collapse justify-content-end d-none d-lg-block" id="navbarcolapse">
          <ul class="navbar-nav align-items-lg-center">
            <li class="nav-item">
              <a class="nav-link navbar-links-style px-3" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-links-style px-3" href="product.html">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-links-style px-3" href="over-ons.html">Over ons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-links-style px-3" href="faq.html">FAQ</a>
            </li>
            <li class="nav-item">
              <a type="button" class="btn btn-primary ms-2 nav-link" href="contact.html">Contact opnemen</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>